body {
  background-color: lightgray;
}

h1 {
  font-size: 72px;
}

.container {
  background-color:aquamarine;
  text-align: center;
  max-width: 500px;
  margin: 50px auto;
  padding: 40px;
  border: 5px solid black;
  border-radius: 12px;
}

#count {
  font-size: 48px;
}

#btn {
  font-size: 48px;
  background-color: lightgoldenrodyellow;
  padding: 10px;
  border-radius: 12px;
}

